.App {
  text-align: center;
}

.wrapper {
  background: rgba(0, 0, 0, 0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.submitButton {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.submitButton i {
  color: #faeee7;
  transition: 0.3s;
}

.submitButton:hover i {
  color: #d92027;
}

form {
  margin: 20px auto;
}

.result {
  margin: auto;
}

.imageDiv img {
  border-radius: 3%;
}

.ContentWrapper {
  display: flex;
  flex-direction: row;
}

.result {
  background-color: rgba(2.35%, 31.76%, 20.78%, 0.84);
  padding: 30px;
}

.infoWrapper h2 {
  font-size: 2.8rem;
  font-family: "PT Sans", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: left;
}

.infoWrapper {
  color: #fff;
}

.factsWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.rating {
  padding: 3px;
  color: #342b38;
  border: 1px solid #342b38;
  border-radius: 6%;
}

.fact {
  margin-right: 12px;
}

.addDot::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-weight: 900;
    padding-right: 5px;
}
