.wrapper {
  background: rgba(0, 0, 0, 0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.submitButton {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.submitButton i {
  color: #faeee7;
  transition: 0.3s;
}

.submitButton:hover i {
  color: #d92027;
}

form {
  margin: 20px auto;
}

.result {
  margin: auto;
}

.imageDiv img {
  border-radius: 3%;
}

.ContentWrapper {
  display: flex;
  flex-direction: row;
}

.result {
  background-color: #342b38;
  padding: 30px;
}

.infoWrapper h2 {
  font-size: 2.8rem;
  font-family: "PT Sans", sans-serif;
  margin: 0 0 15px;
  text-align: left;
}

.infoWrapper {
  padding: 1.5% 100px 1.5% 3%;
  color: #fff;
}

.factsWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.rating {
  padding: 0 3px;
  color: gray;
  border: 1px solid gray;
  border-radius: 6%;
}

.fact {
  margin-right: 12px;
}

.addDot::before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-size: 10px;
  font-weight: 700;
  padding-right: 5px;
}

.ratings {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.ratings #rtn-tmts,
.ratings #imdb {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#rtn-tmts div,
#imdb div {
  margin-right: 5px;
}

#rtn-tmts p {
  text-align: center;
}

svg {
  cursor: default;
}

h4 {
  font-size: 20px;
  margin: 10px 0;
}

.know-more {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.know-more button {
  display: inline-block;
  outline: none;
  border: none;
  line-height: 1em;
  letter-spacing: 0.06em;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000;
  background: #bac964;
  padding: 15px 12px 15px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.know-more button:hover {
  background: #000;
  color: #fff;
  transition: 0.6s;
}

.know-more img {
  width: 45px;
}
